.venv/
poetry.lock
pyproject.toml
search_simulator/__pycache__/google_api.cpython-312.pyc
search_simulator/__pycache__/llm_engine.cpython-312.pyc
search_simulator/__pycache__/llm_prompt.cpython-312.pyc
search_simulator/__pycache__/rag_system.cpython-312.pyc
search_simulator/__pycache__/web_scraper.cpython-312.pyc
.env
res.txt
